#categories{
    background-color: white;
    width: clamp(10rem, 15rem, 15rem);
    border-radius: 10px;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 2px rgb(104, 103, 103);
    margin-left: 1rem;
}

.categories-header{
    padding: 1rem;
    border-bottom: 1px solid rgb(226, 220, 220);
    text-align: center;
    color: rgb(29, 28, 28);
}

#categories ul{
    padding-left: 3rem;
    color: rgb(55, 52, 52);
}

#categories ul > *{
    padding-top: 0.8rem;
}

#categories a{
    cursor: pointer;
}

@media (max-width: 1000px ){
    #categories{
        display: none;
    }
}